.new-project {
    width: 400px;
    padding: 0.5em 0px;
    margin:auto;
    margin-top: 1.5em;
    background-color: white;
    text-align: left;
    border-radius: 0.25em;
}

.new-project fieldset {
    border: none;
    margin:0%;
}

.new-project label {
    font-size: 1em;
}

.new-project input, select {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: .9em;
}

.fa-times-circle{
    color:red;
}

input{
    font-size: .8em;
}

#prj-desc {
}
.add, .delete-field{
    margin:0%;
    padding:10px 12px;
    border-radius: 25px;
}

.add:hover{
    background-color:#C4C4C4;
}

.delete-field:hover{
    background-color:#DFDFDF;
}
