.primary{
    background-color: #002878 !important;
    color: white;
}
body{
    background-color: #3C3C3C !important;
    margin:0%;
}

h1{
    font-size: 18pt;
}

.card{
    background-color: #E3D7D1 !important;
    color:black;
}

.warning{
    color: #E15630 !important;
}

.success{
    color: #428D50 !important;
}

img{
    width: 100%;
    height: auto;
}